/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
*.DS_Store
public/mix-manifest.json
package-lock.json
public/images
laravel-echo-server.json
public/dist/js
laravel-echo-server.lock
public/dist/css/app.css
public/js/message.js
public/dist/css/app.css
public/dist/css/auth.css
public/dist/css/responsive.css
public/dist/css/style.css
public/timelapse
public/timelapse/.DS_Store
public/dist/css/app.min.css
public/dist/css/style.min.css
public/dist/css/responsive.min.css
public/dist/css/share.css